.pending-frnds-header{
    margin-bottom: 20px;
}

.button-container{
    display: flex;
  justify-content: center; /* Center-align horizontally */
  align-items: center; /* Center-align vertically */
  height: 100%; /* Ensure the container takes up the full height of the card */
}

.action-buttons {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
}

.spacer {
  flex: 1; /* Take up remaining space */
}

.avatar{
  height: 42px;
  width: 42px;
  border-radius: 20px;
}


.pending-frnds-btn{
  margin-right: 20px;
}

.user-card{
    margin-bottom: 30px;
}

.blue-tick-icon {
  height: 12px;
  width: 12px;
  margin-left: 3px;
}

a {
  text-decoration: none; /* Remove underline */
  color: #007bff; /* Change link color to blue (you can adjust the color as needed) */
}

a:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* Add this to your global styles (styles.css or styles.scss) or component-specific CSS file */

.router-link {
  font-family: 'Roboto', sans-serif;
  text-decoration: none; /* Remove underline */
  color: #333; /* Set the color */
}

.router-link:hover {
  color: #555; /* Change color on hover if needed */
  text-decoration: underline; /* Add underline on hover */
}
